OPENAI_API_KEY = 'xxxxxx'
CLAUDE_API_KEY = 'xxxxxx'
ANTHROPIC_API_KEY = 'zzzzzz'
GROQ_API_KEY = 'yyyyyy'
OPENROUTER_API_KEY = 'wwwwww'
HUGGINGFACE_API_KEY = 'xxxxxx'
HUGGINGFACE_READ_KEY = 'yyyyyy'
GEMINI_API_KEY = 'zzzzzz'
LLAMA_CLOUD_API_KEY = 'WSJBXDJH'
PINECONE_API_KEY = 'cdhfunfuvfnuvfgn'